<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK6wuyws2C5hRmL1scc7ReFfCP5DjfDbA</string>
	<key>GCM_SENDER_ID</key>
	<string>186440999752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lapakbantul</string>
	<key>PROJECT_ID</key>
	<string>lapakbantul-7ce0b</string>
	<key>STORAGE_BUCKET</key>
	<string>lapakbantul-7ce0b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186440999752:ios:c128b85cca15637484497d</string>
</dict>
</plist>